<footer>
  <div class="container">
    <h6 class="footer__title text-center">Mantente conectado</h6>
    <div class="footer-social text-center">
      <a href="" class="footer-social__anchor"><span class="fa fa-facebook"></span></a>
      <a href="" class="footer-social__anchor"><span class="fa fa-instagram"></span></a>
      <a href="" class="footer-social__anchor"><span class="fa fa-twitter"></span></a>
      <a href="" class="footer-social__anchor"><span class="fa fa-youtube"></span></a>
    </div>
    <div class="footer-links text-center">
      <a href="" class="footer-links__anchor">Términos</a>
      <a href="" class="footer-links__anchor">Privacidad</a>
      <a href="" class="footer-links__anchor">&copy; 2017 Open English Education, LLC.</a>
    </div>
  </div>
</footer>
