/* You can add global styles to this file, and also import other style files */
$primary: #1783fa;
$secondary: #ff6002;
$accented:  #00cad4;
$softlight:  #edf5ff;

.bg-primary{background-color:$primary !important; color:white;};
.bg-secondary{background-color:$secondary !important; color:white;};
